<div class="container">
  <div class="row">
  	<div class="col-lg-12">
	<%if @user_or_book == "1" %>
	  <h1>User search for "<%= params[:search] %>"</h1>
	  <table class="table table-hover">
	  	<thead >
	  		<tr>
	  			<th>image</th>
	  			<th>name</th>
	  			<th></th>
	  		</tr>
	  	</thead>
	  	<% @users.each do |user| %>
	  	<tbody>
	  		<tr>
	  			<th><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></th>
	  			<th><%= user.name %></th>
	  			<th><%= link_to "Show", user, class: "user_#{user.id}" %></th>
	  	    </tr>
	  	</tbody>
	  	<%end%>
	  </table>

	<% elsif @user_or_book == "2" %>
	  <h1>Book search for "<%= params[:search] %>"</h1>
	  <table class="table table-hover">
	  	<thead>
	  		<tr>
	  			<th>title</th>
	  			<th>Opinion</th>
	  			<th></th>
	  		</tr>
	  	</thead>
	  	<% @books.each do |book| %>
	  	<tbody>
	  		<tr>
	  			<th><%= book.title %></th>
	  			<th><%= book.body %></th>
	  			<th></th>
	  		</tr>
	  	</tbody>
	  	<%end%>
	  </table>
	<%else%>
	<%end%>
    </div>
  </div>
</div>